universe = vanilla
initialdir = .

error = error/run_$(ClusterId)-$(Process).error
log = log/run_$(ClusterId)-$(Process).log
output = output/run_$(ClusterId)-$(Process).out
executable = submit_LLPNanoAOD.sh           
arguments =  $(Process)  TYPE  DATASETNAME  NEVENTS
Notification=never
transfer_output_files = ""
+JobFlavour           = "longlunch"

queue QUEUE
